<label class="label">Details</label>
<repository-details-navbar></repository-details-navbar>
<div *ngIf="(contributionsForRepository$ | async) as contributions" class="scrollable-container">
  <div *ngIf="contributions.length == 0" class="centered-element-container">
    <loading-indicator style="margin-top: 100px;"></loading-indicator>
  </div>
  <div *ngFor="let contribution of contributions">
    <div class="box" style="margin-bottom: 10px; margin-left: 10px; margin-right: 10px;">
      <repository-contributor
        [contributingUserId]="contribution.userId"
        [numberOfContributions]="contribution.number"
      >
      </repository-contributor>
    </div>
  </div>
</div>