<div class="columns is-3 app-content">
  <div class="column is-one-third">
    <div style="margin-bottom: 10px;">
      <label class="label">Repositories</label>
      <repository-search></repository-search>
    </div>
    <div class="scrollable-container">
      <div *ngIf="(repositories$ | async) as repositories">
        <div *ngFor="let repository of repositories | repositoryFilter: (repositorySearchTerm$ | async)">
          <div
            (click)="toggleDetails(repository)"
          >
            <div
              class="box"
              [ngClass]="showDetailsOfRepository[repository.id] ? 'has-background-primary' : ''"
              style="margin-bottom: 10px; margin-right: 10px; margin-left: 10px;"
            >
              <repository-card [repository]="repository"></repository-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="column is-two-thirds">
    <div *ngIf="(repositories$ | async) as repositories">
      <div *ngFor="let repository of repositories">
        <div *ngIf="showDetailsOfRepository[repository.id]">
          <repository-details [repositoryId]="repository.id"></repository-details>
        </div>
      </div>
    </div>
  </div>
</div>